[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "third_party/op-plugin"]
	path = third_party/op-plugin
	url = https://github.com/cosdt/op-plugin.git
	ignore = dirty
