sphinx==5.3.0
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
sphinxcontrib.katex==0.8.6
sphinx-copybutton==0.5.0
sphinx-panels==0.4.1
breathe==4.34.0
exhale==0.3.7
